<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <title>Great Number Game</title>
</head>
<body>
    <main role="main" class="inner cover main-container">
        <h1 clas="cover-heading">Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <div class="input-container {{ info['css_class'] }}">
          <h2>{{ info['message'] }}</h2>
          <h3>{{ session["tries"] }} guesses!</h3>
          {% if session['guess'] == session['generated'] or session["tries"] > 4 %}
            <a href="/reset" class="button button-primary">Play Again</a>
          {% else %}
            <form action="/process" method="post">
              <input type="number" class="form-control" name="guessed_number" >
              <button type='submit' name='reset' class="btn btn-warning"value='Reset'>Guess  
            </form>
          {% endif %}
        </div>
    </main>   

     
</body>
</html>